$breakpoint: 500px;

.sponsor-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: black;
  margin-bottom: 1rem;

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    padding-bottom: 2.5rem;
  }
}

.sponsor {
  padding: .5rem;
  margin: .5rem 0;
  height: 3rem;
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and (max-width: $breakpoint) {
      display: block;
    }
  }

  img {
    height: auto;
    max-height: 100%;
  }

  p {
    color: white;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
  }
}

.gold-level {
  height: 9rem;
}
